.instructor-page {
  padding: 20px;
}

.create-course-button {
  position: static;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  background-color: #5ac2ef;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.create-course-button:hover {
  background-color: #66cee3;
}
.create-course-page {
  padding: 20px;
}

.create-course-form {
  width: 80%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

h1, h2 {
  text-align: center;
}

.form-section, .unit-section {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.unit-list {
  margin-top: 20px;
}

.unit-box {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #eef6ff;
}

label {
  display: block;
  margin-bottom: 10px;
}

input, textarea, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.success-message {
  color: green;
  text-align: center;
}

.error-message {
  color: red;
  text-align: center;
}
