/* App styling */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.loading {
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
}

.main-layout {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .main-layout {
    flex-direction: column;
  }
  .content {
    padding: 10px;
  }
}

/* Header styling */
.App-header {
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.App-logo {
  height: 40px;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

/* Sidebar styling */
.sidebar {
  background-color: #333;
  width: 250px;
  height: 100%;
  padding: 20px;
  position: sticky;
  top: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}

/* Footer styling */
footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #61dafb;
}

footer a:hover {
  text-decoration: underline;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: relative;
  }

  .App-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .App-logo {
    margin-bottom: 10px;
  }
}

